/* modal para confirmar exclusão */
.modal-confirmar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-confirmar-content {
    background-color: #fefefe;
    padding: 20px 30px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 440px;
    height: 240px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-confirmar-content h1{
    color: #767474;
    font-size: 35px;
    padding-top: 20px;
    margin: 10px 0;
    text-align: center;
    font-weight: 600;
    line-height: normal;
}

.modal-confirmar-content h2{
    color: #767474;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    line-height: normal;
}

.modal-confirmar-content .div-button-excluir{
    display: flex;
    justify-content: space-between;
}

.modal-confirmar-content .button-cancelar{
    color: #C760EB;
    background: #fff;
    transition: all 0.4s;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 30px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    margin-top: 50px;
}

.modal-confirmar-content .button-cancelar:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s;
}

.modal-confirmar-content .button-excluir {
    color: #fff;
    background: #C760EB;
    transition: all 0.4s;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 40px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    margin-top: 50px;
}

.modal-confirmar-content .button-excluir:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s;
}

/* modal de exclusão */
.modal-excluir {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-excluir-content {
    background-color: #fefefe;
    padding: 20px 30px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 460px;
    height: 240px;
    text-align: center;
}

.modal-excluir-content h1{
    color: #767474;
    font-size: 40px;
    margin-top: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    line-height: normal;
}

.modal-excluir-content h2{
    color: #767474;
    font-size: 20px;
    margin-bottom: 35px;
    font-weight: 500;
    line-height: normal;
}

.modal-excluir-content .button-fechar{
    color: #C760EB;
    background: #fff;
    transition: all 0.4s;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 40px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    margin-top: 20px;
}

.modal-excluir-content .button-fechar:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s;
    color: #fff;
    background: #C760EB;
}