/* modal para confirmar exclusão */
.modal-confirmar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-confirmar-content {
    background-color: #fefefe;
    padding: 20px 30px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 400px;
    height: 220px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-confirmar-content h1{
    color: #767474;
    font-size: 35px;
    margin: 10px 0;
}

.modal-confirmar-content h2{
    color: #767474;
    font-size: 18px;
}

.modal-confirmar-content .button-excluir{
    display: flex;
    justify-content: space-between;
}

.modal-confirmar-content #cancelar{
    color: #C760EB;
    font-weight: 600;
    font-size: 0.9em;
    padding: 8px 10px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    background: #fff;
    margin-top: 60px;
}

.modal-confirmar-content #cancelar:hover{
    background: #C760EB;
    color: #fff;
    cursor: pointer; 
}

.modal-confirmar-content #excluir {
    color: #fff;
    font-weight: 600;
    font-size: 0.9em;
    padding: 8px 10px;
    border: 2px solid #C12705;
    border-radius: 6px;
    background: #C12705;
    margin-top: 60px;
}

.modal-confirmar-content #excluir:hover{
    cursor: pointer;
}

/* modal de exclusão */
.modal-excluir {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-excluir-content {
    background-color: #fefefe;
    padding: 20px 30px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 400px;
    height: 220px;
    text-align: center;
}

.modal-excluir-content h1{
    color: #767474;
    font-size: 40px;
    margin: 0;
    margin-top: 30px;
}

.modal-excluir-content h2{
    color: #767474;
    font-size: 20px;
    margin-bottom: 30px;
}

.modal-excluir-content #fechar{
    color: #C760EB;
    font-weight: 600;
    font-size: 0.9em;
    padding: 10px 40px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    background: #fff;
    margin-top: 20px;
}

.modal-excluir-content #fechar:hover{
    background: #C760EB;
    color: #fff;
    cursor: pointer; 
}