.box {
    background-color: #fff;
    width: 500px;
    /* max-width: 700px; */
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(199, 96, 235, 0.3) 0 0 10px;
    border-radius: 10px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0;
}

.form img {
    margin-bottom: 30px;
    width: 190px;
}

.form input {
    padding: 8px;
    margin-top: 15px;
    width: 410px;
    border: 1px solid gainsboro;
    border-radius: 6px;
}

.form input:hover {
    border: 1px solid #C760EB;
    transition-property: border;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.form input::placeholder {
    font-weight: normal;
}

.form input:focus {
    border: 1px solid #D5B8FF;
    outline: none;
    padding: 8px;
}

.button-login{
    color: #C760EB;
    font-weight: 600;
    font-size: 0.94em;
    width: 428px;
    padding: 8px 0;
    margin-top: 18px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    background: #fff;
}

.button-login:hover {
    background: #C760EB;
    color: #fff;
    cursor: pointer;
}

.link-button-login {
    color: #C760EB;
    font-weight: 500;
    font-size: 0.9em;
    width: 410px;
    padding: 8px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #C760EB;
    border-radius: 6px;
    background: #fff;

}

.link-button-login:hover {
    background: #C760EB;
    color: #fff;
    cursor: pointer;
}

.body .box .form h3 {
    font-weight: 500;
    color: #767474;
    font-size: 15px;
    margin-left: -215px;
    margin-top: 15px;
    cursor: pointer;
}