.box {
    background-color: #fff;
    width: 25vw;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(199, 96, 235, 0.3) 0 0 10px;
    border-radius: 10px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0;
}

.form img {
    margin: 10px 0 80px 0;
    width: 200px;
}

.form input {
    padding: 8px;
    margin-top: 15px;
    width: 75%;
    border: 2px solid gainsboro;
    border-radius: 6px;
    font-weight: 500;
}

.form input:hover {
    border: 2px solid #C760EB;
    transition-property: border;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.form input::placeholder {
    font-weight: normal;
}

.form input:focus {
    border: 2px solid #D5B8FF;
    outline: none;
    padding: 8px;
}

.button-login{
    color: #C760EB;
    font-weight: 600;
    font-size: 15px;
    width: 80%;
    padding: 8px 0;
    margin-top: 35px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    background: #fff;
}

.button-login:hover {
    background: #C760EB;
    color: #fff;
    cursor: pointer;
}

.link-button-login {
    color: #C760EB;
    font-weight: 500;
    font-size: 0.9em;
    width: 410px;
    padding: 8px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #C760EB;
    border-radius: 6px;
    background: #fff;

}

.link-button-login:hover {
    background: #C760EB;
    color: #fff;
    cursor: pointer;
}

.body .box .form h3 {
    font-weight: 500;
    color: #767474;
    font-size: 15px;
    cursor: pointer;
}

.mensagem_alerta{
    width: 80%;
    margin: 20px 0 -10px 0px;
}

.error-message-login {
    color: #ab2323;
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 15px;
    font-weight: 500;
}