.modal{
    display: flex;
    justify-content: center;
    align-items: center;    
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content{
    background-color: #fefefe;
    padding: 30px 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 570px;
    /* height: 460px; */
    top: 12px;
    left: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}

.modal-content-paciente {
    width: 1150px;
    height: 960px;
    overflow: hidden;
    z-index: 3000;
}

/* .modal-content-aluno{
    height: 520px;
} */

.modal-content h2{
    color: #767474;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 0 10px 10px;
    line-height: normal;
}

.modal-content hr{
    height: 2px;
    background-color: #D9D9D9;
    border: none;
    width: 550px;
    margin-left: 15px;
    margin-top: 0;
}

.modal-content-paciente hr {
    width: 1100px;
    margin: 0 0 0 15px;
}

.modal-content .formulario{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
}

.modal-content-paciente .formulario{
    margin-top: 0px;
}

.modal-content label {
    color: #767474;
    font-size: 15px;
}

.modal-content input{
    padding: 10px;
    border: 2px solid #C760EBFA;
    border-radius: 12px;
    width: 500px;
    margin: 8px 0;
}

/* .modal-content-paciente input{
    width: 339px;
} */

.modal-content input:focus {
    border: 2px solid #C760EBFA;
    outline: none;
}

.modal-content input#nome {
    text-transform: capitalize;
}

.modal-content .flex-input{
    display: flex;
}

.modal-content .div-matricula .matricula{
    display: flex;
    width: 240px;
    margin-right: 20px;
}

.modal-content .div-telefone .telefone,
.modal-content .div-periodo .periodo{
    display: flex;
}

.modal-content .div-CPF .CPF{
    display: flex;
    width: 225px;
    margin-right: 25px;
}


.modal-content .div-telefone .telefone{
    width: 225px;
}

.modal-content select.professorNome,
.modal-content select.periodo,
.modal-content select.turno,
.modal-content select.sexo,
.modal-content select.estado-civil,
.modal-content select.status,
.modal-content select.tratamento,
.modal-content select.renda,
.modal-content select.encaminhadorSelect,
.modal-content select.uf
{
    padding: 10px;
    border: 2px solid #C760EBFA;
    border-radius: 12px;
    -webkit-appearance: none; /* Remove o estilo padrão da seta no Safari */
    -moz-appearance: none; /* Remove o estilo padrão da seta no Firefox */
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 10L12 16L18 10" stroke="%23710198" stroke-linecap="round"/></svg>');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 32px;
    margin: 8px 0;
}

.modal-content select.turno:focus, 
.modal-content select.sexo:focus,
.modal-content select.estado-civil:focus,
.modal-content select.professorNome:focus,
.modal-content select.periodo:focus,
.modal-content select.status:focus,
.modal-content select.tratamento:focus,
.modal-content select.renda:focus,
.modal-content select.encaminhadorSelect:focus,
.modal-content select.uf:focus
{
    border: 2px solid #C760EBFA;
    outline: none;
}

.modal-content select.turno{
    width: 245px;
}

.modal-content select.estado-civil{
    width: 210px;
}

.modal-content select.sexo{
    width: 190px;
}

.modal-content select.encaminhadorSelect{
    width: 330px;
}

.modal-content select.uf{
    display: flex;
    width: 70px;
    margin-right: 230px;
}

.modal-content select.status{
    display: flex;
    width: 438px;
    margin-right: 300px;
}

.modal-content .professorNome{
    width: 520px;
}

.modal-content .disciplina{
    width: 225px;
}

.modal-content .periodo {
    width: 240px;
}

/* modal de paciente */
.flex-informacoes-pessoais,
.flex-endereco,
.flex-informacoes-tratamento {
    display: flex;
    width: 1095px;
    justify-content: space-between;
}

.flex-informacoes-pessoais .nome-completo,
.flex-informacoes-pessoais .email {
    display: flex;
    width: 308px;
}

.flex-informacoes-pessoais .CPF,
.flex-informacoes-pessoais .telefone {
    display: flex;
    width: 194px;
}

.flex-informacoes-pessoais .data-nascimento,
.flex-informacoes-tratamento .inicio-tratamento,
.flex-informacoes-tratamento .termino-tratamento {
    display: flex;
    width: 260px;
    border-radius: 10px;
    margin: 8px 0;
}

.flex-informacoes-pessoais .data-nascimento div,
.flex-informacoes-tratamento .inicio-tratamento div,
.flex-informacoes-tratamento .termino-tratamento div {
    border-radius: 10px;
    border: 2px solid #C760EBFA;

}


.rs-picker-popup.rs-picker-popup-date {
    z-index: 2000;
    margin-top: -200px;
    margin-left: 260px;
}

.flex-informacoes-pessoais .data-nascimento input,
.flex-informacoes-tratamento .inicio-tratamento input,
.flex-informacoes-tratamento .termino-tratamento input {
    margin: 0;
}

.flex-informacoes-pessoais .sexo {
    display: flex;
}

.flex-informacoes-pessoais .estado-civil {
    width: 308px;
    display: flex;
}

.flex-informacoes-pessoais .profissao {
    width: 214px;
    display: flex;
}

.flex-informacoes-pessoais .religiao,
.flex-informacoes-pessoais .renda,
.flex-informacoes-pessoais .nacionalidade,
.flex-informacoes-pessoais .naturalidade {
    width: 222px;
    display: flex;
}

.flex-informacoes-pessoais .outro {
    width: 288px;
    display: flex;
    margin-right: 360px;
}

.flex-informacoes-pessoais .nome-contato {
    width: 368px;
    display: flex;
    
}

.flex-endereco .cep,
.flex-endereco .bairro,
.flex-endereco .cidade {
    display: flex;
    width: 278px;
}

.flex-endereco .logradouro,
.flex-endereco .complemento {
    display: flex;
    width: 378px;
}

/* .flex-endereco .uf {
    display: flex;
    width: 70px;
    margin-right: 208px;
} */

.flex-informacoes-tratamento .encaminhadorInput{
    display: flex;
    width: 308px;
}

.flex-informacoes-tratamento .inicio-tratamento,
.flex-informacoes-tratamento .termino-tratamento{
    display: flex;
    width: 260px;
}

.flex-informacoes-tratamento #tratamento{
    display: flex;
    width: 230px;
    margin-right: 300px;
}

.modal-content-paciente .formulario h2 {
    padding: 0;
    line-height: normal;
    margin: 20px 0;
    color: black;
}

/* buttons de cadastro */

.modal-content .buttons-form{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}

.modal-content .buttons-form-aluno {
    margin-top: 30px;
}

.modal-content .buttons-form .button-voltar {
    color: #C760EB;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 40px;
    margin-right: 30px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    background: #fff;
}

.modal-content .buttons-form .button-voltar:hover{
    background: #C760EB;
    color: #fff;
    cursor: pointer; 
}

.modal-content .buttons-form .button-cadastrar {
    color: #C760EB;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 30px;
    margin-right: 30px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    background: #fff;
}

.modal-content .buttons-form .button-cadastrar:hover{
    background: #C760EB;
    color: #fff;
    cursor: pointer; 
}



/* modal de sucesso */
.modal-sucesso {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-sucesso-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 400px;
    height: 220px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-sucesso-content h1{
    color: #767474;
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    padding-bottom: 10px;
    line-height: normal;
}

.modal-sucesso-content h2{
    color: #767474;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: normal;
}

.modal-sucesso-content #fechar{
    color: #C760EB;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 40px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    background: #fff;
    margin-top: 10px;
}

.modal-sucesso-content #fechar:hover{
    background: #C760EB;
    color: #fff;
    cursor: pointer;
}