/* modal referente ao modal de modal de editar  */
.modal-editar{
    display: flex;
    justify-content: center;
    align-items: center;    
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content-editar{
    background-color: #fefefe;
    padding: 15px 20px 30px 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 570px;
    /* height: 460px; */
    top: 12px;
    left: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content-editar-aluno{
    width: 600px;
}

.modal-content-editar-paciente{
    width: 1150px;
    height: 80vh;
    overflow-y: scroll;
    z-index: 3000;
}

.modal-content-editar h2{
    color: #767474;
    font-size: 20px;
    padding: 10px 0 10px 10px;
    font-weight: 500;
    line-height: normal;
}

.modal-content-editar h2{
    color: #767474;
    font-size: 20px;
    padding: 10px 0 10px 10px;
    font-weight: 500;
    line-height: normal;
}

.modal-content-editar-paciente .formulario h2 {
    padding: 0;
    line-height: normal;
    margin: 20px 0;
    color: black;
}

.modal-content-editar hr{
    height: 2px;
    background-color: #D9D9D9;
    border: none;
    width: 550px;
    margin-left: 15px;
    margin-top: 0;
}

.modal-content-editar-aluno hr {
    width: 580px;
    margin-top: 0;
}

.modal-content-editar-paciente hr{
    width: 1100px;
    margin: 0 0 0 15px;
}

.modal-content-editar .formulario{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
}

.modal-content-editar-paciente .formulario{
    margin-top: 0;
} 

.modal-content-editar label {
    color: #767474;
    font-size: 15px;
}

.modal-content-editar input{
    padding: 10px;
    border: 2px solid #C760EBFA;
    border-radius: 12px;
    width: 500px;
    margin: 8px 0;
}

.modal-content-editar-aluno input{
    width: 535px;
}

.modal-content-editar input#nome {
    text-transform: capitalize;
}

.modal-content-editar input:focus{
    border: 2px solid #C760EBFA;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    transition: all 0.2s;
}

.modal-content-editar .flex-input{
    display: flex;   
}

.modal-content-editar .div-CPF .CPF, 
.modal-content-editar .div-matricula .matricula{
    display: flex;
    width: 245px;
    margin-right: 25px;
}

.modal-content-editar .div-telefone .telefone,
.modal-content-editar .div-periodo .periodo{
    display: flex;
}

.modal-content-editar .div-telefone .telefone{
    width: 210px;
}

.modal-content-editar-aluno .div-telefone .telefone{
    width: 240px;
}

.modal-content-editar select,
.modal-content-editar select.professorNome,
.modal-content-editar select.periodo,
.modal-content-editar select.turno,
.modal-content-editar select.sexo,
.modal-content-editar select.estado-civil,
.modal-content-editar select.status,
.modal-content-editar select.tratamento,
.modal-content-editar select.renda,
.modal-content-editar select.encaminhadorSelect,
.modal-content-editar select.uf{
    padding: 10px;
    border: 2px solid #C760EBFA;
    border-radius: 12px;
    -webkit-appearance: none; /* Remove o estilo padrão da seta no Safari */
    -moz-appearance: none; /* Remove o estilo padrão da seta no Firefox */
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 10L12 16L18 10" stroke="%23710198" stroke-linecap="round"/></svg>');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 32px;
    margin: 8px 0;
}

.modal-content-editar select.turno:focus,  
.modal-content-editar select.professorNome:focus,
.modal-content-editar select.sexo:focus,
.modal-content-editar select.estado-civil:focus,
.modal-content-editar select.periodo:focus,
.modal-content-editar select.status:focus,
.modal-content-editar select.tratamento:focus,
.modal-content-editar select.renda:focus,
.modal-content-editar select.encaminhadorSelect:focus,
.modal-content-editar select.uf:focus{
    border: 2px solid #C760EBFA;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s;
}

.modal-content-editar select.turno{
    width: 260px
}

.modal-content-editar select.turno{
    width: 245px;
}

.modal-content-editar select.estado-civil{
    width: 210px;
}

.modal-content-editar select.sexo{
    width: 190px;
}

.modal-content-editar select.encaminhadorSelect{
    width: 330px;
}

.modal-content-editar select.uf{
    display: flex;
    width: 70px;
    margin-right: 230px;
}

.modal-content-editar select.status{
    display: flex;
    width: 438px;
    margin-right: 300px;
}

.modal-content-editar-aluno .professorNome {
    width: 560px;
}

/* .modal-content-editar select.professorNome{
    width: 520px;
    padding: 10px;
    border: 2px solid #C760EBFA;
    border-radius: 12px;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 10L12 16L18 10" stroke="%23710198" stroke-linecap="round"/></svg>');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 32px;
    margin: 8px 0;
} */

.modal-content-editar-aluno .periodo{
    width: 265px;
}

.modal-content-editar .disciplina{
    width: 240px;
    text-transform: capitalize;
}

/* modal paciente */
.flex-informacoes-pessoais,
.flex-endereco,
.flex-informacoes-tratamento {
    display: flex;
    width: 1095px;
    justify-content: space-between;
}

.flex-informacoes-pessoais .nome-completo,
.flex-informacoes-pessoais .email {
    display: flex;
    width: 308px;
}

.flex-informacoes-pessoais .CPF,
.flex-informacoes-pessoais .telefone {
    display: flex;
    width: 194px;
}

.flex-informacoes-pessoais .data-nascimento,
.flex-informacoes-tratamento .inicio-tratamento,
.flex-informacoes-tratamento .termino-tratamento {
    display: flex;
    width: 260px;
    border-radius: 10px;
    margin: 8px 0;
}

.flex-informacoes-pessoais .data-nascimento div,
.flex-informacoes-tratamento .inicio-tratamento div,
.flex-informacoes-tratamento .termino-tratamento div {
    border-radius: 10px;
    border: 2px solid #C760EBFA;

}

.flex-informacoes-pessoais .data-nascimento div:hover,
.flex-informacoes-tratamento .inicio-tratamento div:hover,
.flex-informacoes-tratamento .termino-tratamento div:hover {
    border-radius: 10px;
    border: 2px solid #C760EBFA;
}

.flex-informacoes-pessoais .data-nascimento div:focus,
.flex-informacoes-tratamento .inicio-tratamento div:focus,
.flex-informacoes-tratamento .termino-tratamento div:focus {
    border: 2px solid #C760EBFA;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s;
}

.flex-informacoes-pessoais .data-nascimento input,
.flex-informacoes-tratamento .inicio-tratamento input,
.flex-informacoes-tratamento .termino-tratamento input {
    margin: 0;
    border: none;
    outline: none;
    box-shadow: none;
    transition: none;
}

.flex-informacoes-pessoais .sexo {
    display: flex;
}

.flex-informacoes-pessoais .estado-civil {
    width: 308px;
    display: flex;
}

.flex-informacoes-pessoais .profissao {
    width: 214px;
    display: flex;
}

.flex-informacoes-pessoais .religiao,
.flex-informacoes-pessoais .renda,
.flex-informacoes-pessoais .nacionalidade,
.flex-informacoes-pessoais .naturalidade {
    width: 222px;
    display: flex;
}

.flex-informacoes-pessoais .outro {
    width: 288px;
    display: flex;
    margin-right: 360px;
}

.flex-informacoes-pessoais .nome-contato {
    width: 368px;
    display: flex;
    
}

.flex-informacoes-tratamento .encaminhadorInput{
    display: flex;
    width: 308px;
}

.flex-informacoes-tratamento .inicio-tratamento,
.flex-informacoes-tratamento .termino-tratamento{
    display: flex;
    width: 260px;
}

.flex-informacoes-tratamento #tratamento{
    display: flex;
    width: 230px;
    margin-right: 300px;
}


/* buttons de editar cadastro */
.modal-content-editar .buttons-form{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}

.modal-content-editar .buttons-form-paciente{
    margin-top: 15px;
}

.modal-content-editar .buttons-form.buttons-form-aluno {
    margin-top: 30px;
}

.modal-content-editar .buttons-form .button-cancelar {
    color: #C760EB;
    background: #fff;
    transition: all 0.4s;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 40px;
    margin-right: 30px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    
}

.modal-content-editar .buttons-form .button-cancelar:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s;
    cursor: pointer; 
}

.modal-content-editar .buttons-form .button-confirmar {
    color: #fff;
    background: #C760EB;
    transition: all 0.4s;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 30px;
    margin-right: 30px;
    border: 2px solid #C760EB;
    border-radius: 6px;
}

.modal-content-editar .buttons-form .button-confirmar:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s;
    cursor: pointer; 
}

/* modal referente a confirmar a edição  */
.modal-confirmar {
    display: flex;
    justify-content: center;
    align-items: center;    
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content-confirmar{
    background-color: #fefefe;
    padding: 15px 20px 0px 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 570px;
    /* height: 480px; */
    top: 12px;
    left: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content-confirmar-aluno{
    height: 690px;
    width: 600px;
}

.modal-content-confirmar-professor{
    height: 530px;
}

.modal-content-confirmar-secretario{
    height: 530px;
}

.modal-content-confirmar-paciente{
    width: 1150px;
    height: 990px;
    overflow: hidden;
    z-index: 3000;
}

.modal-content-confirmar h2 {
    color: #767474;
    font-size: 20px;
    padding: 10px 0 10px 10px;
    font-weight: 500;
    line-height: normal;
}

.modal-content-confirmar-paciente .dados-inseridos h2 {
    padding: 0;
    line-height: normal;
    margin: 20px 0;
    color: black;
}

.modal-content-confirmar hr {
    height: 2px;
    background-color: #D9D9D9;
    border: none;
    width: 550px;
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 0;
}

.modal-content-confirmar-paciente hr{
    width: 1100px;
    margin: 0 0 0 15px;
}

.modal-content-confirmar .dados-inseridos {
    margin-left: 20px;
}

.modal-content-confirmar .dados-inseridos p{
    color: #767474;
    margin-bottom: 10px;
    font-size: 15px;
}

.modal-content-confirmar .dados-inseridos h1{
    color: #767474;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.modal-content-confirmar .dados-inseridos .disciplina h1{
    text-transform: capitalize;
    line-height: normal;
}

.modal-content-confirmar .dados-inseridos .nome h1{
    text-transform: capitalize;
    line-height: normal;

}

/* modal confirmar secretario */

.modal-content-confirmar-secretario .coluna4 h1{
    text-transform: capitalize;
}

/* modal confirmar paciente */

.modal-content-confirmar-paciente .coluna1,
.modal-content-confirmar-paciente .coluna2,
.modal-content-confirmar-paciente .coluna3,
.modal-content-confirmar-paciente .coluna4,
.modal-content-confirmar-paciente .coluna5,
.modal-content-confirmar-paciente .coluna6,
.modal-content-confirmar-paciente .coluna7,
.modal-content-confirmar-paciente .coluna8 {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
}

.modal-content-confirmar-paciente .coluna1 div:nth-child(1),
.modal-content-confirmar-paciente .coluna2 div:nth-child(1),
.modal-content-confirmar-paciente .coluna3 div:nth-child(1),
.modal-content-confirmar-paciente .coluna3 div:nth-child(4),
.modal-content-confirmar-paciente .coluna4 div:nth-child(1),
.modal-content-confirmar-paciente .coluna4 div:nth-child(2),
.modal-content-confirmar-paciente .coluna5 div:nth-child(1),
.modal-content-confirmar-paciente .coluna6 div:nth-child(1),
.modal-content-confirmar-paciente .coluna7 div:nth-child(1){
    width: 300px;
}


.modal-content-confirmar-paciente .coluna7 div:nth-child(2){
    width: 900px;
}

.modal-content-confirmar-paciente .coluna1 div:nth-child(2),
.modal-content-confirmar-paciente .coluna1 div:nth-child(3),
.modal-content-confirmar-paciente .coluna1 div:nth-child(4),
.modal-content-confirmar-paciente .coluna2 div:nth-child(2),
.modal-content-confirmar-paciente .coluna2 div:nth-child(3),
.modal-content-confirmar-paciente .coluna2 div:nth-child(4),
.modal-content-confirmar-paciente .coluna3 div:nth-child(2),
.modal-content-confirmar-paciente .coluna3 div:nth-child(3),
.modal-content-confirmar-paciente .coluna3 div:nth-child(4),
.modal-content-confirmar-paciente .coluna5 div:nth-child(2),
.modal-content-confirmar-paciente .coluna5 div:nth-child(3),
.modal-content-confirmar-paciente .coluna6 div:nth-child(2),
.modal-content-confirmar-paciente .coluna6 div:nth-child(3),
.modal-content-confirmar-paciente .coluna8 div:nth-child(2),
.modal-content-confirmar-paciente .coluna8 div:nth-child(3),
.modal-content-confirmar-paciente .coluna8 div:nth-child(1){
    width: 200px;
}

.modal-content-confirmar-paciente .coluna1 div:nth-child(1){
    max-width: 300px;
    overflow-x: hidden;
}

.modal-content-confirmar-paciente .coluna4{
    width: 650px;
}

.modal-content-confirmar-paciente .coluna8{
    width: 700px;
}

.modal-content-confirmar-paciente .coluna7{
    width: 1000px;
}

.modal-content-confirmar-paciente .coluna5,
.modal-content-confirmar-paciente .coluna6{
    width: 800px;
}

.modal-content-confirmar-paciente .dados-inseridos .coluna8{
    display: flex;
    justify-content: space-between;
    margin-right: 540px;
}

/* modal confirmar consulta */

.modal-content-confirmar-consulta{
    height: 600px;
    width: 600px;
}

.modal-content-confirmar-consulta .dados-inseridos .coluna1,
.modal-content-confirmar-consulta .dados-inseridos .coluna4,
.modal-content-confirmar-consulta .dados-inseridos .coluna3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-content-confirmar-consulta .dados-inseridos .coluna3{
    width: 328px;
}

.modal-content-confirmar-consulta .dados-inseridos .coluna4{
    width: 350px;
}

/* confirmar buttons */

.modal-content-confirmar .buttons-confirmar{
    display: flex;
    justify-content: space-between;
}

.modal-content-confirmar .buttons-confirmar-paciente{
    margin-top: 53px;
    margin-left: -20px;
}

.modal-content-confirmar .button-voltar-confirmar{
    color: #C760EB;
    background: #fff;
    transition: all 0.4s;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 40px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    margin-left: 20px;
}

.modal-content-confirmar .button-voltar-confirmar:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s;
}

.modal-content-confirmar .button-confirmar{
    color: #fff;
    background: #C760EB;
    transition: all 0.4s;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 30px;
    margin-right: 30px;
    border: 2px solid #C760EB;
    border-radius: 6px;
}

.modal-content-confirmar .button-confirmar:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s;
}


/*modal de sucesso*/
.modal-sucesso {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-sucesso-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 400px;
    height: 220px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-sucesso-content h1{
    color: #767474;
    font-size: 40px;
    margin-top: 30px;
    font-weight: 500;
    line-height: normal;
}

.modal-sucesso-content h2{
    color: #767474;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: normal;

}
.modal-sucesso-content h2{
    color: #767474;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: normal;
}

.modal-sucesso-content #fechar{
    color: #fff;
    background: #C760EB;
    transition: all 0.4s;
    font-weight: 600;
    font-size: 0.9em;
    padding: 10px 40px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    margin-top: 10px;
}

.modal-sucesso-content #fechar:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s;
}

/* relatorio */

.modal-content-confirmar-relatorio{
    padding-bottom: 40px;
    height: fit-content;
    max-height: 700px;
}