.lateral {
    height: 97.8vh;
    display: flex;
    align-items: flex-start;
}

.barraLateral {
    background-color: #E9E9E9;
    width: 240px;
    height: 99%;
    margin: 15px;
    border-radius: 10px;
}

/* icons */

.icon {
    color: #C760EB;
    font-size: 20px;
}

.icon-seta {
    color: #C760EB;
    font-size: 15px;
}

/* conteudo geral  */

.conteudo {
    padding: 20px;
}

.usuario {
    display: flex;
    padding: 10px 0 20px 0;
}

span {
    background-color: blue;
    color: white;
    font-size: 0.8em;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center ;
}

.usuario p {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#estilo_respiro {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 0 0 10px 0;
}

#estilo_respiro2 {
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin: 5px 0;
}

#estilo_respiro:hover{
    background-color: #D9D9D9;
    border-radius: 8px;
    cursor: pointer;
}

#estilo_respiro2:hover{
    background-color: #D9D9D9;
    border-radius: 8px;
    cursor: pointer;
}

p { 
    padding: 10px 50px 10px 10px;
}


/* header da sidebar */
.header {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
}

img{
    width: 150px;
    margin-left: 10px;
}

#button-header{
    color: #C760EB;
    font-weight: 600;
    font-size: 0.9em;
    margin-left: 145vh;
    padding: 8px 50px;
    margin-top: 20px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    background: #fff;
}

#button-header:hover{
    background: #C760EB;
    color: #fff;
    cursor: pointer;  
}

