.lateral {
    height: 97.8vh;
    display: flex;
    align-items: flex-start;
}

.barraLateral {
    background-color: #E9E9E9;
    width: 240px;
    height: 99%;
    margin: 15px;
    border-radius: 10px;
}

/* icons */

.icon {
    color: #C760EB;
    font-size: 20px;
}

/* conteudo geral  */

.conteudo {
    padding: 20px;
}

.usuario {
    display: flex;
    padding: 20px 0 30px 0;
}

span {
    background-color: blue;
    color: white;
    font-size: 0.8em;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center ;
}

.usuario p {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#estilo_respiro {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 0 0 25px 0;
}

#estilo_respiro:hover{
    background-color: #D9D9D9;
    padding: 10px;  
    border-radius: 8px;
    cursor: pointer;
}

p {
    padding-left: 10px;
}


.header {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.header button{
    margin-left: 75vw;
    padding: 10px 20px;
}

.header img {
    width: 80px;
    height: 69.5px;
}
