.body_sidebar{
    position: fixed; /*position diferente de static para o z-index funcionar*/
    top: 0;
    left: 0;
    z-index: 1000; /* sidebar com z-index mais baixo, para não sobrepor meu conteudo principal */
    width: 100vw;
    height: 100vh;
}

.lateral {
    height: 97.8vh;
    display: flex;
    align-items: flex-start;
}

.barraLateral {
    background-color: #E9E9E9;
    width: 230px;
    height: 99%;
    margin: 15px;
    border-radius: 10px;
}

/* icons */

.icon {
    color: #C760EB;
    font-size: 20px;
}

.icon-seta {
    color: #C760EB;
    font-size: 15px;
}

/* conteudo geral  */

.conteudo {
    padding: 20px;
}

.conteudo p{
    color: #767474;
}

.usuario {
    display: flex;
    padding: 10px 0 20px 0;
}

.usuario p {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 15px;
}

span {
    background-color: blue;
    color: white;
    font-size: 0.8em;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center ;
}

/* definindo estilo para as divs */
.estilo_respiro {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 0 0 10px 0;
}

.estilo_respiro:hover{
    background-color: #D9D9D9;
    border-radius: 8px;
    cursor: pointer;
}

.estilo_respiro2 {
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin: 5px 0;
}

.estilo_respiro2:hover{
    background-color: #D9D9D9;
    border-radius: 8px;
    cursor: pointer;
    /* width: 100px;    */
}

.body_sidebar p { 
    padding: 10px 30px 8px 10px;
    font-size: 15px;
}


/* header da sidebar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100vw - 250px);
    margin-top: 15px;
}

.img_logo{
    width: 150px;
    margin-left: 10px;
}

.button-header{
    color: #C760EB;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 50px;
    margin-top: 20px;
    margin-right: 20px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    background: #fff;
}

.button-header:hover{
    background: #C760EB;
    color: #fff;
    cursor: pointer;  
}

