.body_admin{
    margin-left: 280px; 
    margin-top: 90px;
    max-width: calc(100vw - 250px); /*ajuste para nao sobrepor a sidebar*/
    position: relative;
    z-index: 2000; /*conteudo principal com z-index mais alto que a sidebar*/
}

.barra_pesquisa{
    display: flex;
    justify-content: space-between;
}

.h1{
    font-size: 25px;
    color: #868686;
    margin-top: 120px;
    margin-bottom: 30px;
    margin-left: 20px;
}

button.button_cadastro {
    display: flex;
    align-items: center;
    color: #C760EBFA;
    background: #fff;
    border-radius: 5px;
    width: 186px;
    height: 40px;   
    border: 2px solid #C760EBFA;
    margin-left: 20px;
}

button.button_cadastro:hover{
    background: #C760EB;
    color: #fff;
    cursor: pointer;
}

.icon_cadastro {
    width: 18px;
    height: 18px;
    padding: 10px;
    padding-left: 20px;
}

.pesquisar  {
    width: 573px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid #C760EB;
    margin: 0 60px 0 0;
    padding-left: 40px; /*espaço suficiente para alocar o ícone*/
    box-sizing: border-box; /*inclui o padding na largura total*/
}

.pesquisar:focus {
    border: 2px solid #C760EB;
    outline: none;
}

.icon_pesquisa {
    position: absolute; /*posiciona o ícone dentro do input*/
    right: 600px;
    width: 24px;
    margin-top: 7px;
    pointer-events: none; /*impede interação com o ícone*/
}
