.body_admin{
    margin-left: 250px;
    margin-top: 53px; 
    max-width: calc(100vw - 250px); /*ajuste para nao sobrepor a sidebar*/
    position: relative;
    z-index: 2000; /*conteudo principal com z-index mais alto que a sidebar*/
}

.barra_pesquisa{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.body_admin .h1{
    font-size: 25px;
    margin: 0px 0 30px 0;
    font-weight: 400;
    line-height: normal;
}

.body_admin .barra_pesquisa .button_cadastro {
    display: flex;
    align-items: center;
    color: #C760EBFA;
    background: #fff;
    border-radius: 5px;
    width: 186px;
    height: 40px;   
    border: 2px solid #C760EBFA;
}

.body_admin .barra_pesquisa .button_cadastro:hover{
    background: #C760EB;
    color: #fff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s;
}

.body_admin .barra_pesquisa .button_arquivados {
    display: flex;
    align-items: center;
    color: #C760EBFA;
    background: #fff;
    border-radius: 5px;
    width: 186px;
    height: 40px;
    padding-left: 25px;   
    border: 2px solid #C760EBFA;
    position: absolute;
    left: 0;
    margin-left: 220px;
}

.body_admin .barra_pesquisa .button_arquivados:hover {
    background: #C760EB;
    color: #fff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s;
}

.icon_cadastro {
    width: 18px;
    height: 18px;
    padding: 20px;
    padding-left: 25px;
}

.icon_pesquisa_avançada{
    position: absolute;
    right: 600px;
    margin-top: 7px;
    cursor: pointer;
}

.pesquisar  {
    width: 573px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid #C760EB;
    margin-right: 20px;
    padding-left: 40px; /*espaço suficiente para alocar o ícone*/
    box-sizing: border-box; /*inclui o padding na largura total*/
    text-transform: capitalize;
}

.pesquisar:focus {
    border: 2px solid #C760EB;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    transition: all 0.2s;
}

.icon_pesquisa {
    position: absolute; /*posiciona o ícone dentro do input*/
    right: 560px;
    width: 24px;
    margin-top: 7px;
    pointer-events: none; /*impede interação com o ícone*/
}

/* pesquisa avançada */
.modal-filtragem{
    display: flex;
    justify-content: center;
    margin-left: 0%;
    margin-top: 0px;
    position: absolute;
    z-index: 1;
    right: 0;
    margin-right: 630px;
    top: 6.5%;
    border: none;
}

.modal-content-filtragem{
    background-color: #fefefe;
    padding: 15px 20px 30px 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 270px;
    height: 400px;
    top: 12px;
    left: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content-filtragem-aluno {
    height: 470px;
}

.modal-content-filtragem-paciente {
    width: 320px;
    height: 550px;
}

.modal-content-filtragem h1 {
    font-size: 22px;
    color: #00000099;
    font-weight: 500;
    line-height: 25.2px;
}

.modal-content-filtragem hr {
    margin-top: 10px;
}

.modal-content-filtragem .formulario {
    margin-top: 20px;
}

.modal-content-filtragem input {
    padding: 6px;
    border: 2px solid #C760EBFA;
    border-radius: 12px;
    width: 250px;
    margin: 8px 0;
}

.modal-content-filtragem-paciente input {
    width: 295px;
}

.modal-content-filtragem input:focus {
    border: 2px solid #C760EBFA;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    transition: all 0.2s;
}

.modal-content-filtragem .formulario .coluna1 {
    display: flex;
}

.modal-content-filtragem-paciente .formulario .coluna1 .div-CPF .CPF{
    width: 135px;
}

.modal-content-filtragem-paciente .formulario .coluna1 .div-dataNascimento{
    margin-right: 10px;
}

.modal-content-filtragem .formulario .coluna1 .div-CPF input ,
.modal-content-filtragem .formulario .coluna1 .div-telefone input {
    width: 115px;
}

.modal-content-filtragem .formulario .coluna1 .div-CPF{
    margin-right: 7px;
}

.modal-content-filtragem-paciente .formulario .coluna1 .div-CPF input{
    width: 140px;
}

.modal-content-filtragem .formulario select.turno,
.modal-content-filtragem .formulario select.periodo,
.modal-content-filtragem .formulario select.professorNome,
.modal-content-filtragem .formulario select.tratamento,
.modal-content-filtragem .formulario select.sexo{
    padding: 7px;
    border: 2px solid #C760EBFA;
    border-radius: 12px;
    -webkit-appearance: none; /* Remove o estilo padrão da seta no Safari */
    -moz-appearance: none; /* Remove o estilo padrão da seta no Firefox */
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 10L12 16L18 10" stroke="%23710198" stroke-linecap="round"/></svg>');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 32px;
    margin: 8px 0;
}

.modal-content-filtragem .formulario select.turno:focus,
.modal-content-filtragem .formulario select.periodo:focus,
.modal-content-filtragem .formulario select.professorNome:focus,
.modal-content-filtragem .formulario select.tratamento:focus,
.modal-content-filtragem .formulario select.sexo:focus {
    border: 2px solid #C760EBFA;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s;
}

.modal-content-filtragem .formulario .turno,
.modal-content-filtragem .formulario .disciplina{
    display: flex;
    width: 160px;
}

.modal-content-filtragem .formulario .tratamento{
    display: flex;
    width: 310px;
}

.modal-content-filtragem .formulario .sexo{
    display: flex;
    width: 170px;
}

.modal-content-filtragem .formulario .matricula{
    display: flex;
    width: 120px;
    margin-right: 8px;
}

.modal-content-filtragem .formulario .periodo{
    display: flex;
    width: 120px;
}

.modal-content-filtragem .formulario .professorNome{
    display: flex;
    width: 262px;
}

.modal-content-filtragem .formulario .coluna2 {
    display: flex;
}

.modal-content-filtragem .data-nascimento {
    width: 150px;
    display: flex;
    border-radius: 10px;
    margin: 8px 0;
}

.modal-content-filtragem .coluna2 .div-inicioTratamento{
    margin-right: 10px;
}

.modal-content-filtragem .inicio-tratamento,
.modal-content-filtragem .termino-tratamento {
    display: flex;
    width: 150px;
    border-radius: 10px;
    margin: 8px 0;
}

.modal-content-filtragem .data-nascimento div,
.modal-content-filtragem .inicio-tratamento div,
.modal-content-filtragem .termino-tratamento div {
    border-radius: 10px;
    border: 2px solid #C760EBFA;
}

.flex-informacoes-pessoais .data-nascimento div:hover,
.flex-informacoes-tratamento .inicio-tratamento div:hover,
.flex-informacoes-tratamento .termino-tratamento div:hover {
    border-radius: 10px;
    border: 2px solid #C760EBFA;
}

.flex-informacoes-pessoais .data-nascimento div:focus,
.flex-informacoes-tratamento .inicio-tratamento div:focus,
.flex-informacoes-tratamento .termino-tratamento div:focus {
    border: 2px solid #C760EBFA;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s;
}

.modal-content-filtragem .data-nascimento input,
.modal-content-filtragem .inicio-tratamento input,
.modal-content-filtragem .termino-tratamento input {
    margin: 0;
    border: none;
    outline: none;
    box-shadow: none;
    transition: none;
}

/* buttons de filtragem */

.modal-content-filtragem .formulario .button-filtro {
    color: #C760EB;
    font-weight: 500;
    font-size: 15px;
    padding: 6px 25px;
    margin-left: 120px;
    margin-top: 25px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    background: #fff;
    transition: all 0.3s;
}

.modal-content-filtragem-paciente .formulario .button-filtro {
    color: #C760EB;
    font-weight: 500;
    font-size: 15px;
    padding: 6px 25px;
    margin-left: 160px;
    margin-top: 25px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    background: #fff;
    transition: all 0.3s;
}

.modal-content-filtragem .formulario .button-filtro:hover{
    background: #C760EB;
    color: #fff;
    cursor: pointer; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s;
}

/* pacientes arquivados */

.body_admin .barra_pesquisa .button_ativos {
    display: flex;
    align-items: center;
    color: #C760EBFA;
    background: #fff;
    border-radius: 5px;
    width: 186px;
    height: 40px;   
    padding-left: 40px;
    border: 2px solid #C760EBFA;
}

.body_admin .barra_pesquisa .button_ativos:hover {
    background: #C760EB;
    color: #fff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s;
}