/* tabela */
.table-container{
    height: 80%;
}

.table-container .table h2 {
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

.table-container-alunoPaciente h2,
.table-container-ProfAlunos h2 {
    font-size: 20px;
    font-weight: 700;
}

.table {
    width: 99%;
    margin-top: 30px;
    border-collapse: collapse;
    height: 100%;
}

.table .checkbox{
    width: 17px;
    height: 17px;
}

.table-paciente {
    margin-top: 10px;
}

.tr-body{
    background-color: #B6B6B636;
}

.tr-body th {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.tr-body th:first-child {
    border-radius: 8px 0 0 8px;
}

.tr-body th:last-child {
    border-radius: 0 8px 8px 0;
}

/* conteudo */
.table-body {
    text-align: center;
}

.table-body tr{
    height: 30px;
}

.table-body tr td {
    border-bottom: 1px solid #DADADA;
    padding: 0px 0;
    font-size: 15px;
    font-weight: 500;
    display: table-cell;
    height: 30px; 
}

.table-body tr td#td-nome,
.table-body tr td#td-turno,
.table-body tr td#td-disciplina,
.table-body tr td#td-prof,
.table-body tr td#td-tratamento {
    text-transform: capitalize;
}

.table-body .table-content {
    cursor: pointer;
}

.icon-editar {
    width: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.icon-excluir {
    width: 20px;
    cursor: pointer;
    margin-right: -10px;
}

.table-body .tr-vazia td {
    height: 24.8px;
    border: none;
}

/* paginação */
.footer-table tr td .quantidade-itens {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #969696;
}

.footer-table tr td .paginacao-table{
    display: flex;
    justify-content: center; 
    margin-bottom: 20px; 
} 

.paginacao-table button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.voltar-pagina {
    border: none;
    border-radius: 8px;
    width: 35px;
    height: 35px;
}

.paginacao-table button.voltar-pagina {
    background-color: #D9D9D9;
}

.paginacao-table button.voltar-pagina.paginacaoBlack {
    background-color: #C760EB;
}

.paginacao-table button.voltar-pagina.paginacaoWhite img {
    transform: rotate(180deg); /* Inverte a imagem em 180 graus */
}

.passar-pagina {
    border: none;
    border-radius: 8px;
    width: 35px;
    height: 35px;
}

.paginacao-table button.passar-pagina.paginacaoWhite img {
    transform: rotate(180deg); /* Inverte a imagem em 180 graus */
}

.img_paginacao {
    width: 17px;
    height: 17px;
}

.deletar-selecionados {
    text-align: right;
    padding-right: 30px;
    color: #C760EBFA;
    cursor: default;
}

.deletar-selecionados span {
    cursor: pointer;
}
