.visualizar {
    /* display: flex;
    flex-direction: column; */
    height: 100vh;
    position: fixed;
    z-index: 3;
    top: 0;
    width: calc(100% - 245px);
    background-color: white;
    justify-content: space-between;
}

.body-visualizar {
    padding-top: 40px;
}

/* cabeçalho de visualizar */

.header-visualizar hr {
    height: 2px;
    background-color: #D9D9D9;
    border: none;
    width: 98%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.header-visualizar-paciente hr {
    margin-bottom: 10px;
}

.header-visualizar-info {
    display: flex;
    align-items: center;
    /* width: calc(100vw - 280px); */
    color: #767474;
    font-size: 20px;
}

.header-visualizar-info h1 {
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    line-height: normal;
    margin-left: 15px;
    cursor: pointer;
}

/* corpo de visualizar */
/* .visualizar-info{
    display: flex;
    flex-direction: column;
} */

.visualizar-info p {
    color: #767474;
    font-size: 15px;
    margin-bottom: 10px;
}

.visualizar-info h1 {
    color: #767474;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: normal;
}

.visualizar-info-paciente h1 {
    margin-bottom: 10px;
}

.visualizar-info-paciente h2 {
    padding: 0;
    line-height: normal;
    margin: 20px 0;
    font-size: 22px;
}

.visualizar-info .coluna1 {
    display: flex;
}

.visualizar-info .coluna1 .nome h1 {
    text-transform: capitalize;
    line-height: normal;
}

.visualizar-info .coluna1 .matricula {
    position: fixed;
    left: 50%;
}

.visualizar-info .coluna1 .periodo {
    position: fixed;
    left: 70%;
}

.visualizar-info-paciente .coluna1 {
    justify-content: space-between;
    margin-right: 200px;
}

.visualizar-info-paciente .coluna1 div:nth-child(1) {
    width: 300px;
    max-width: 300px;
    overflow-x: hidden;
}

.visualizar-info-paciente .coluna1 .CPF,
.visualizar-info-paciente .coluna2 .telefone {
    position: fixed;
    left: 45%;
}

.visualizar-info-paciente .coluna1 .data-nascimento {
    position: fixed;
    left: 65%;
}

.visualizar-info-paciente .coluna1 div:nth-of-type(4) {
    margin: 0 7px 0 0;
}

.visualizar-info .coluna2 {
    display: flex;
}

.visualizar-info .coluna2 .telefone {
    position: fixed;
    left: 50%;
}

.visualizar-info-paciente .coluna2 .telefone {
    position: fixed;
    left: 45%;
}

.visualizar-info-paciente .coluna2 div:nth-of-type(3) h1 {
    text-transform: capitalize;
}

.visualizar-info-paciente .coluna3 .renda {
    position: fixed;
    left: 45%;
}

.visualizar-info-paciente .coluna4 .nomeContato {
    position: fixed;
    left: 45%;
}

.visualizar-info-paciente .coluna2 .estadoCivil {
    position: fixed;
    left: 65%;
}

.visualizar-info-paciente .coluna3 .nacionalidade {
    position: fixed;
    left: 65%;
}

.visualizar-info-paciente .coluna2 {
    justify-content: space-between;
    margin-right: 190px;
}

.visualizar-info .coluna3 {
    display: flex;
}

.visualizar-info .coluna3 .cpf,
.visualizar-info .coluna3 .professorNome {
    position: fixed;
    left: 50%;
}

.visualizar-info-paciente .coluna3 {
    justify-content: space-between;
    margin-right: 207px;
}

.visualizar-info-paciente .coluna4 {
    display: flex;
    justify-content: space-between;
}

.visualizar-info-paciente .coluna3 div:nth-of-type(4) {
    margin: 0 -50px 0 0;
}

.visualizar-info-paciente .coluna5 {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.visualizar-info-paciente .coluna6 {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}

.visualizar-info-paciente .coluna6 div:nth-of-type(5) h1 {
    text-transform: capitalize;
}


/* button de voltar */

.voltar {
    margin-top: 10px;
}

.seta-voltar {
    font-weight: 500;
}

.seta-voltar:hover {
    cursor: pointer;
}

/* visualizar relatorio */

.visualizar-info-relatorio {
    width: 100%;
    max-height: 90vh;
    overflow-y: scroll;
}

.visualizar-info-relatorio h1 {
    margin-bottom: 10px;
}

.visualizar-info-relatorio h2 {
    padding: 0;
    line-height: normal;
    margin: 20px 0;
    font-size: 22px;
}

.visualizar-info-relatorio .coluna1,
.visualizar-info-relatorio .coluna2,
.visualizar-info-relatorio .coluna3,
.visualizar-info-relatorio .coluna4,
.visualizar-info-relatorio .coluna5 {
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

.visualizar-info-relatorio .coluna4{
    align-items: flex-start;
}

.visualizar-info-relatorio .coluna5{
    width: 100%;
}

.visualizar-info-relatorio .coluna1 div,
.visualizar-info-relatorio .coluna2 div,
.visualizar-info-relatorio .coluna3 div:nth-child(1) {
    width: 400px;
}

.visualizar-info-relatorio .coluna3 div:nth-child(2) {
    width: 600px;
}


.visualizar-info-relatorio .coluna4 .data-nascimento:nth-of-type(1) {
    width: 340px;
}

.visualizar-info-relatorio .coluna4 .data-nascimento:nth-of-type(2) {
    width: 260px;
    margin: 70px 0 0 0;
}

.visualizar-info-relatorio .coluna4 .data-nascimento:nth-of-type(3),
.visualizar-info-relatorio .coluna4 .data-nascimento:nth-of-type(4) {
    width: 360px;
    height: fit-content;
}

.visualizar-info-relatorio .coluna4 .files-box {
    width: 100%;
    /* max-height: 100px; */
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 0 40px 0;
}

.visualizar-info-relatorio .coluna4 .data-nascimento:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    max-height: fit-content;
    overflow-y: scroll;
    overflow-x: hidden;
}

.visualizar-info-relatorio .coluna5 div {
    width: 95%;
    height: 350px;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.visualizar-info-relatorio .coluna5 div h1 {
    font-size: 18px;
}


.file-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
    margin: 0 0 10px 0 !important;
}

.file-container p {
    color: #767474;
    font-size: 20px;
    margin: 0 10px 0 0; 
    text-decoration: underline;
    cursor: pointer;
    width: fit-content;
    max-width: 270px;
    overflow-x: hidden;
}

.file-container button {
    background-color: transparent;
    background: none;
}

.file-container img {
    width: 25px;
    height: 25px;
}