.visualizar {
    display: flex;
    flex-direction: column;
    height: 83vh;
    position: fixed;
    z-index: 3;
    left: 260px;
    top: 100px;
    width: calc(100% - 230px);
    background-color: white;
    justify-content: space-between;
    
}

.body-visualizar {
    display: flex;
    flex-direction: column;
}

.header-visualizar-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 280px);
    color: #767474;
    font-size: 20px;
}

.header-visualizar-info h1{
    font-size: 32px;
}

.body-visualizar hr {
    height: 2px;
    background-color: #D9D9D9;
    border: none;
    width: 98%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.visualizar-info{
    display: flex;
    flex-direction: column;
}

.visualizar-info p {
    color: #767474;
    font-size: 15px;
    margin-bottom: 10px;
}

.visualizar-info h1{
    color: #767474;
    font-size: 25px;
    margin-bottom: 20px;
}

.visualizar-info .flex-row1{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.visualizar-info .flex-row2{
    display: flex;
    justify-content: space-between;
    width: 50.3vw;
}

.voltar{
    margin-top: 10px;
}

.button-voltar{
    color: #C760EB;
    font-weight: 500;
    font-size: 15px;
    padding: 11px 43px;
    border: 2px solid #C760EB;
    border-radius: 6px;
    background: #fff;
}

.button-voltar:hover{
    background: #C760EB;
    color: #fff;
    cursor: pointer; 
}